# Ignore everything by default
*

!.gitignore

# Allow specific directories
!.vscode/
!.vscode/**
!.github/
!.github/agents/
!.github/agents/**
!Agents/
!Agents/**
!Cases/
!Cases/**
!Presentations/
!Presentations/**

# Allow specific files
!README.md
!LICENSE

# Allow md files otherwise they cannot be included in AI chats
!*.md